@page
@model Muhammed_Saad_CV.Pages.CV_PAGEModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

</head>
<body class="bg-white">
    <div class="Heading">
        <h1 class="cvheading"> CURRICULUM VITAE</h1>
    </div>
    <div class="left-column">
        <div class="image">

            <img src="~/css/images/me2.jpeg" alt="me" class="image">

        </div>
       <div class="contact">
        <h3>Contact</h3>
        <div class="underline" ></div>

            <p  class="paragraphdefault"><img src="~/css/images/address.jpeg" alt="Image Description" class="imagestyle"> Northwold Drive, Saxonwold</p>
            <p class="paragraphdefault"><img src="~/css/images/phone.png " alt="Image Description" class="imagestyle"> +27(64) 054-2517</p>
            <p class="paragraphdefault"><img src="~/css/images/1499955335whatsapp-icon-logo-png.png" alt="Image Description" class="imagestyle">+27(61) 957 4570</p>
            <p class="paragraphdefault"><img src="~/css/images/R.png" alt="Image Description" class="imagestyle"> moessop@outlook.com</p>
            <p class="paragraphdefault1"> <a href="https://www.linkedin.com/in/muhammedsaadessop/"><img src="~/css/images/linkden.png" alt="Image Description" class="imagestyle"> mylinkden:</a></p>
        
        
        <div class="work">
        <h3 class="headingworkexp" >Work Experience:</h3>
            <div class="underline"></div>
            <h4 class="paragraphdefault"> <a href="https://www.alcazabalodges.co.za">Alcazaba Lodges:</a></h4>
        <p class="paragraphdefault">05/06/2020 - 12/12/2020</p>
            <p class="paragraphdefault"> Role:</p>
            <p class="paragraphdefault"> front desk and assistance</p>

            <p class="headingrespon">Responsibilities:</p>
            <ul>
                <li>
                    <p class="paragraph1"> Helping customers to check in and answering phone calls</p>
                    
                </li>
                <li>
                    <p class="paragraph1"> Checking the booking and income system to verify figures and bookings</p>

                </li>
                <li>
                    <p class="paragraph1">Manipulating software to check out of place income statements</p>

                </li>
                <li>
                    <p class="paragraph1"> Checking rooms and performing maintenance</p>

                </li>
            </ul>

                       <p class="allreasonheading" >Reason for Leaving:</p>
                <p class="reasonparagraph" >Enrolled at IIE Varsity College Sandton and had taken a part time job while studying for a full time Career</p>
            </div>

            <div class="itsupport">
                <h4 class="paragraphdefault"> <a href="https://www.alcazabalodges.co.za">Alcazaba Lodges:</a></h4>
                <p class="paragraphdefault">12/01/2023 - as per needed</p>
                <p class="paragraphdefault"> Role:</p>
                <p class="paragraphdefault"> IT Support</p>
                <p class="headingrespon">Responsibilities:</p>

                <ul>
                    <li>
                        <p class="paragraph1"> Manage the computers and network assistance</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Keep software up to date and solve software issues</p>

                    </li>
                    <li>
                        <p class="paragraph1">Maintenance of the PCs and fixing of hardware</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Replacing and analysing of the system and replacements</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Building computers as per customer request</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Refurbishing of computers</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Sourcing parts and replacing components</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Diagnosing hardware and installing software</p>

                    </li>
                </ul>

            </div>
            <div class="htcheading">
                <h4 class="paragraphdefault"> <a href="https://www.facebook.com/people/Harvest-Tabernacle-Church-HTC/100064343185443/">Harvest Tabernacle Church:</a></h4>

                <p class="paragraphdefault">31/07/2023 – 27/11/2023</p>
                <p class="paragraphdefault"> Role:</p>
                <p class="paragraphdefault"> Team leader and Lead Backend</p>
                <p class="headingrespon">Responsibilities:</p>

                <ul>
                    <li>
                        <p class="paragraph1">Team Lead for the project</p>

                    </li>
                    <li>
                        <p class="paragraph1">Lead backend,software engineer</p>

                    </li>
                    <li>
                        <p class="paragraph1">Database engineer</p>

                    </li>
                    <li>
                        <p class="paragraph1"> Delegating work and ensuring deadlines are met</p>

                    </li>
                    <li>
                        <p class="paragraph1">Ensuring the work is up to standard</p>

                    </li>
                      </ul>
                <p class="allreasonheading">Reason for Leaving:</p>
                <p class="reasonparagraph">Project has been completed and contract is closed</p>
            </div>
        </div>
        <div class="portfolio">
            <h3 class="Port">Portfolio:</h3>
            <div class="underline"></div>
            <p class="paragraphdefault"> <a href="https://github.com/muhammedsaadessop">GitHub Portfolio link:</a></p>
        </div>
        <div class="courses completed">
        <h3 class="Port">Courses Completed:</h3>
        <div class="underline"></div>
            <ul>
                <li>
                    <p class="paragraph1">Python & Django Fullstack</p>

                </li>
                <li>
                    <p class="paragraph1">Comptia Security+</p>

                </li>
               
            </ul>
        </div>

        <div class="hobbies">
            <h3 class="Port">Hobbies & Talents:</h3>
            <div class="underline"></div>
            <ul>
                <li>
                    <p class="paragraph1">Gaming</p>

                </li>
                <li>
                    <p class="paragraph1">Computer enthusiast</p>

                </li>
                <li>
                    <p class="paragraph1">Hardware building & maintenance</p>

                </li>
                <li>
                    <p class="paragraph1">Hardware optimisation and performance seeking</p>

                </li>
                <li>
                    <p class="paragraph1">Poetry and writing (published)</p>

                </li>
                <li>
                    <p class="paragraph1">Video creation and Editing</p>

                </li>

            </ul>
        </div>
        <div class="references">
            <h3 class="Port">REFERENCES:</h3>
            <div class="underline"></div>
            <h4 class="paragraphdefault1"> <a href="https://www.alcazabalodges.co.za">Alcazaba Lodges:</a></h4>
            <p class="paragraphdefault">Address: 208 Albertina Sisulu (Old Main Road) Fordsburg</p>
            <p class="paragraphdefault"> Name: Dr Fatima Bhyat</p>
            <p class="paragraphdefault">Job Title: CEO/Manager</p>
            <p class="paragraphdefault">Contact: 084 501 7696</p>


            <h4 class="paragraphdefault1"> <a href="https://www.alcazabalodges.co.za">Alcazaba Lodges:</a></h4>
            <p class="paragraphdefault">Address: 208 Albertina Sisulu (Old Main Road) Fordsburg</p>
            <p class="paragraphdefault"> Name: Mr. Muhammed Bhyat</p>
            <p class="paragraphdefault">Job Title: Manager/general repair</p>
            <p class="paragraphdefault">Contact: 084 501 7696</p>

            <h4 class="paragraphdefault1"> <a href="https://www.facebook.com/people/Harvest-Tabernacle-Church-HTC/100064343185443/">Harvest Tabernacle Church:</a></h4>
            
            <p class="paragraphdefault">Name: Dr Lucas Xhosa</p>
            <p class="paragraphdefault"> Job Title: Lecturer</p>
            <p class="paragraphdefault">Contact: 0815644618</p>
            <p class="paragraphdefault">Email: lukhoza@iie.ac.za</p>
        </div>
        <div class="vidport">
            <h3 class="Port">Video Portfolio:</h3>
            <div class="underline"></div>

        </div>
    </div>
    <div class="right-column">
        <div class="profile">
        <h2 class="mynameheading">MUHAMMED SAAD ESSOP:</h2>
        <h3 class="subheading">APPLICATION & SOFTWARE DEVELOPER/ENGINEER</h3>
        <div class="underline"></div>
        <h3 class="underlineheading">
            <img src="~/css/images/OIP.jpeg" alt="Image Description" class="imagestyle">
            Personal Profile
        </h3>
                <p class="centered-paragraph">I am a Computer and Information Science student specializing in application development, with proficiency in software development and hands-on experience in computer building and maintenance. I am passionate about leveraging my technical skills to develop innovative solutions and drive business success. I excel at adapting to any given situation using all available resources. I stay knowledgeable and involved with the current technology landscape, including advancements such as DLSS and new computer chips.</p>
        </div>
                
                <div class="education">
        <h3 class="educationheading">
                <img src="~/css/images/education.jpeg" alt="Image Description" class="imagestyle">
                EDUCATION
        </h3>
            <h4 class="centered-paragraph1"><img src="~/css/images/education.jpeg" alt="Image Description" class="imagestyle2"> Degrees Obtained:</h4>
        <p class="centered-paragraph">Bachelors Degree in Computer and Information Sciences</p>
        <p class="centered-paragraph">The Independent Institute of Education Varsity College</p>
        <p class="centered-paragraph"> <a href="https://www.varsitycollege.co.za/campuses/sandton">2021-2023 Sandton</a></p>

        <h4 class="centered-paragraph1"><img src="~/css/images/education.jpeg" alt="Image Description" class="imagestyle2"> Modules Completed:</h4>
            <ol class="centered-paragraph">
                <li>
                    Programming 3B– Distinction –NoSQL | SQL | C# | JS | HTML | Azure | CSS | XML | Xaml
                </li>
                <li>Principles of Security– Distinction</li>
                <li>OS dev Intermed– Distinction –NoSQL| Kotlin| Firebase | XAML</li>
                <li>App Security Dev– Distinction –NoSQL | Angular | JS | TS</li>
                <li>Advanced Databases– PL/SQL– Distinction</li>
                <li>Software Engineering– Distinction</li>
                <li>Programming 2A– C# | Wpf | Xml – Distinction</li>
                <li>Programming 2B– C# | Azure – Distinction</li>
                <li>Cloud Development A– Distinction</li>
                <li>Open-Source Coding Introduction– Distinction</li>
                <li>Network Engineering1B– MS SERVER– Distinction</li>
                <li>Introduction to Research– Distinction</li>
                <li>Programming 3A– CSS | Html | C# | SQL | Azure – Distinction</li>
                <li>IT Project Management – Distinction</li>
                <li>IT Professional Practice– Distinction</li>
                <li>System Analysis and Design- Distinction</li>
                <li>Wil– C# | SQL | NoSQL |Kotlin | Azure | HTML | CSS | Xaml</li>
                <li>Cloud Development B– C# | azure – Distinction</li>
                <li>Network Engineering 1A</li>
                <li>Databases– SQL | MSSQL | MONGODB</li>
                <li>Programming 1B– JAVA</li>
                <li>Programming Logic and Design</li>
                <li>Programming 1A– JAVA</li>
                <li>Mathematical Principles for MAPC5112 Computer Science</li>
            
            </ol>



            <h4 class="centered-paragraph1"><img src="~/css/images/education.jpeg" alt="Image Description" class="imagestyle2"> High School:</h4>
            <p class="centered-paragraph">Successful Steps MAYFAIR</p>
            <p class="centered-paragraph">2014-2017</p>
            <p class="centered-paragraph">
                Physical Sciences
                Mathematics
                Tourism
            </p>
   </div>
   <div class="skill">
            <h3 class="skills">
                <img src="~/css/images/skills.png" alt="Image Description" class="imagestyle">
                SKILLS:
            </h3>
            <h4 class="centered-paragraph1"><img src="~/css/images/skills.png" alt="Image Description" class="imagestyle2">Soft Skills:</h4>
            <p class="centered-paragraph">
                I have the ability to work ahead which addresses the following skills of
                time management, organizational skills and problem solving while also
                having the ability to lead, manage and communicate as I was in the
                team leader position for third year and due to this I able to figure out how
                to do things as they happen</p>

            <h4 class="centered-paragraph1"><img src="~/css/images/skills.png" alt="Image Description" class="imagestyle2">Network Development:</h4>
            <p class="centered-paragraph">
                I have network capabilities in Firebase, Azure and MongoDB
            </p>
          
            <h4 class="centered-paragraph1"><img src="~/css/images/skills.png" alt="Image Description" class="imagestyle2">Hardware Development:</h4>
            <p class="centered-paragraph">
                I have the hardware capabilities in setting up servers, building and maintain PCs, refurbishing PCs, diagnosing hardware, installing software
            </p>
            <h4 class="centered-paragraph1"><img src="~/css/images/skills.png" alt="Image Description" class="imagestyle2">Software Development:</h4>
            <p class="centered-paragraph">
                have coding abilities in several languages which are: C#, Java, HTML, Angular, MongoDB, Kotlin, Firebase, SQL, MySQL, Oracle SQL, PL/SQL in Oracle, no SQL, WPF, XML, HTML, web development
            </p>
            <h4 class="centered-paragraph1"><img src="~/css/images/skills.png" alt="Image Description" class="imagestyle2">Software Development:</h4>
            <p class="centered-paragraph">
                have coding abilities in several languages which are: C#, Java, HTML, Angular, MongoDB, Kotlin, Firebase, SQL, MySQL, Oracle SQL, PL/SQL in Oracle, no SQL, WPF, XML, HTML, web development
            </p>


            <h4 class="centered-paragraph1"><img src="~/css/images/skills.png" alt="Image Description" class="imagestyle2">Practical and Developmental Skills:</h4>
            <ul class="centered-paragraph">
                <li>
                    <p class="paragraph1">Cloud Database Development, Design and management</p>

                </li>
                <li>
                    <p class="paragraph1">Database Development, Design and management</p>

                </li>
                <li>
                    <p class="paragraph1">Project Management and Development including team lead</p>

                </li>
                <li>
                    <p class="paragraph1">Software Engineering with development and design</p>

                </li>
                <li>
                    <p class="paragraph1">Use of Scrum Agile development/p>

                </li>
                <li>
                    <p class="paragraph1">Use of Agile manifesto development</p>

                </li>
                <li>
                    <p class="paragraph1">Programming with OOP including Logic and Design</p>

                </li>
                <li>
                    <p class="paragraph1">UX/UI design with implementation and testing</p>

                </li>
                <li>
                    <p class="paragraph1">Principles of Security with theoretical and practical design</p>

                </li>
                <li>
                    <p class="paragraph1">Advanced Data Structures and Algorithms</p>

                </li>
                       

            </ul>


           
   </div>
   <div class="projects">

            <h3 class="skills">
                <img src="~/css/images/project.jpg" alt="Image Description" class="imagestyle">
                PROJECTS:
            </h3>
            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg" alt="Image Description" class="imagestyle2"><a href="https://github.com/muhammedsaadessop/TempusApp.git">TEMPUS</a></h4>
            <p class="centered-paragraph">
                a fully functional time sheet app for android using Kotlin and Xaml in the position of project leader with roles in security and firebase database and lead backend
            </p>

            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg" alt="Image Description" class="imagestyle2"><a href="">FARMING FARMERS (2023):</a></h4>
            <p class="centered-paragraph">
                a fully functional stock taking and keeping web application using C# with XML running completely independent of the IDE
            </p>

            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg alt="Image Description" class="imagestyle2"><a href="https://github.com/muhammedsaadessop/StudentStudyAid.git">STUDENT STUDY AID:</a></h4>
            <p class="centered-paragraph">
                a basic app to keep track of the user’s study times and progress by means of software and databases and is done in C# asp.net core with MSSQL as the database which is local standalone
            </p>

            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg alt="Image Description" class="imagestyle2"><a href="https://github.com/muhammedsaadessop/Will-Website.git">HARVEST TABERNACLE CHURCH MOBILE AND WEBSITE (2023):</a></h4>
            <p class="centered-paragraph">
                <a href=" https://github.com/muhammedsaadessop/Will-Mobile.git">Mobile App Here:</a>
               
            </p>
            <p class="centered-paragraph">
                We were tasked with designing a management application for our lecturer for his church which consisted of management functions and user side functions such as contact is page using C#, sql, JS, Xml and Kotin with firebase
            </p>

            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg" alt="Image Description" class="imagestyle2"><a href="https://github.com/muhammedsaadessop/AvesApp.git">AVES BIRD WATCHING APPLICATION (2023):</a></h4>
            <p class="centered-paragraph">
                This application is an android Kotlin app which is designed for bird watchers to view birding locations as well as identify birds which is done through APIs
            </p>

            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg" alt="Image Description" class="imagestyle2"><a href="https://github.com/muhammedsaadessop/BulletinBoardWebsite.git">BULLETIN BOARD (2023):</a></h4>
            <p class="centered-paragraph">
                This app was made in mind to use and implement security concepts and how it can be done in a real-life situation, it is a basic albeit functional website with Angular/Angular JS and MongoDB as well as HTML
            </p>

            <h4 class="centered-paragraph1"><img src="~/css/images/project.jpg" alt="Image Description" class="imagestyle2"><a href="https://github.com/muhammedsaadessop/DeweyDecimalApp.git">DEWEY DECIMAL LIBRARY APPLICATION (2023):</a></h4>
            <p class="centered-paragraph">
                This is a WPF application which trains people to know the Dewey decimal system works and has 3 functions or tasks, this Is done in C# with xml and implements gamification features.
            </p>
   </div>
    </div>
</body>
</html>
